<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">

		{{ $tabTotal := .Get "tabTotal" }}
		{{ range $i, $sequence := (seq $tabTotal) }}

		{{ $tabID := $.Get "tabID" }}
		{{ $tabName := (print "tabName" $sequence) }}
		{{ $tabHREF := (print "tab" $tabID $sequence) }}

		{{ if eq $sequence 1 }}

		<button class="nav-link active" id="nav-{{ $tabID }}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{ $tabID }}" role="tab"
		   aria-controls="nav-{{ $tabID }}" aria-selected="true">{{ $.Get $tabName }}</button>

		{{ else }}

		<button class="nav-link" id="nav-{{ $tabID }}" data-bs-toggle="tab" data-bs-target="#nav-{{ $tabID }}" role="tab"
		   aria-controls="nav-{{ $tabID }}" aria-selected="false">{{ $.Get $tabName }}</button>

		{{ end }}
		{{ end }}

	</div>
</nav>

<div class="tab-content" id="{{ $.Get "tabID" }}">

{{ .Inner }}

</div>
